.container
  %h2.header Developers
  = link_to "Delete all", destroy_all_developers_path, method: 'DELETE'
  %br
  %br
  = link_to "Create 100 dummy developers", create_dummy_data_developers_path, method: 'post'
  .filter-group
    = form_for 'filter', url: filter_data_developers_path, method: 'get', html: {class: 'form-filter'}  do |f|
      %div
        %span Email:
        = f.text_field 'developer_email'
      %div
        = f.select 'programming_language', options_for_select(ProgrammingLanguage.pluck(:name, :id)), include_blank: 'Select programming language'
      %div
        = f.select 'language', options_for_select(Language.pluck(:code, :id)), include_blank: 'Select language'
      %div
        = f.submit 'Filter'
  - if @entities.any?
    %table
      %tr
        %th Email
        %th Programming languages
        %th Languages
      - @entities.includes(:languages, :programming_languages).each do |developer|
        %tr
          %td
            = developer.email
          %td
            = developer.programming_languages.pluck(:name).join(', ')
          %td
            = developer.languages.pluck(:code).join(', ')
    = paginate @entities
  - else
    %p No data
