.container
  %h2.header Languages
  = link_to "Add new", new_language_path
  - if @entities.any?
    %table
      %tr
        %th Code
        %th actions
      - @entities.each do |language|
        %tr
          %td
            = language.code
          %td
            = link_to "Edit", edit_language_path(language)
            = link_to "Delete", language_path(language), method: 'DELETE'
  - else
    %p No data
