.container
  %h2.header#aaa Programming Languages
  = link_to "Add new", new_programming_language_path
  - if @entities.any?
    %table
      %tr
        %th Name
        %th actions
      - @entities.each do |programming_language|
        %tr
          %td
            = programming_language.name
          %td
            = link_to "Edit", edit_programming_language_path(programming_language)
            = link_to "Delete", programming_language_path(programming_language), method: 'DELETE'
  - else
    %p No data
