/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body, html{
   font-family: "Raleway", "Helvetica", sans-serif;
 }

 nav{
   .tabs {
     display: flex;
     border-bottom: 1px solid #D7DBDD;
   }
   .tab {
     text-decoration: none;
     padding: 5px 30px;
     color: #16A2D7;
     font-size: 18px;
     border-bottom: 2px solid transparent;
     &.is-tab-selected {
       border-bottom-color: #4EBBE4;
     }
   }
 }

 .container{
   table {
     font-family: arial, sans-serif;
     border-collapse: collapse;
     width: 100%;
     margin-top: 20px;

     tr:nth-child(even) {
       background-color: #eee;
     }

     td, th {
       border: 1px solid #eee;
       text-align: left;
       padding: 8px;
     }
   }
   .form-filter{
     display: flex;
     justify-content: space-between;
     padding: 10px;
     margin-top: 20px;
     border: 1px solid #ccc;
     border-radius: 3px;
   }
 }

 .simple_form{
   max-width: 600px;
   margin: 20px auto;
   div.input{
     margin-bottom: 20px;
     label{
       font-weight: bold;
     }
     input{
       margin-top: 10px;
       display: block;
       width: 100%;
       padding: .375rem .75rem;
       font-size: 1rem;
       line-height: 1.5;
       color: #495057;
       background-color: #fff;
       background-clip: padding-box;
       border: 1px solid #ced4da;
       border-radius: .25rem;
       transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
     }
   }
 }
