!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title CodeingExam
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav
      .tabs
        %a.tab{href: root_path, class: active_class('developers')} Developers
        %a.tab{href: languages_path, class: active_class('languages')} Languages
        %a.tab{href: programming_languages_path, class: active_class('programming_languages')} Programming languages
    %main
    = yield
